<style>
    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    h1{
        font-size: 45px;
    }
    
    img{
        width: 200px;
        height: 200px;
    }
    .product{
        border: 1px black solid ;
        display: flex;
        width: 250px;
        margin-top: 10px;
    }
</style>


<h1>Интенрнет магазин</h1>

<a href = 'https://vk.com'>Товары</a>
<a href = '/about_us'>Товары</a>
<a href = '/goNax'>Товары</a>
                        
<div>
    <h2>Люстра</h2>
</div>